<section class="footer">
<div class="footer-container">
  <div class="footer-image">

  </div>

  <div class="footer-list">
      <div class="panel-pane pane-site-footer"  fxLayout="row" fxLayoutAlign="space-evenly start"  fxLayoutGap="5%" >
  
          <div class="block block-gw-custom first odd">
        
                <h2 class="block__title block-title">Location Information</h2>
            
          <ul class="menu" fxLayout="column" fxLayoutAlign="space-around start">
            <li class="menu__item is-leaf concordMain-faq-- menu__item is-leaf first leaf">
              <a href="/niagara/faq" title="" class="menu__link menu__link">FAQ     </a></li>
        <li><a href="">Customer Service</a></li>
        <li><a href="">Resort Map</a></li>
        <li ><a href="" class="">Area Attractions</a></li>
        <li ><a href="/niagara/gift-cards" class="menu__link menu__link">Gift Cards</a></li>
        <li><a href="/niagara/Accessibility" title="" class="menu__link menu__link">Accessibility</a></li>
        <li><a href="/niagara/lost-and-found" title="" class="menu__link menu__link">Lost and Found</a></li>
        <li><a href="/niagara/donation-requests" title="" class="menu__link menu__link">Donation Request </a></li>
        </ul>
        </div>
        <div id="block-gw-custom-menu-niagara-footer-1" class="block block-gw-custom even">
        
                <h2 class="block__title block-title">Special Events</h2>
            
          <ul class="menu"><li class="menu__item is-leaf concordMain-group menu__item is-leaf first last leaf"><a href="http://www.greatwolfgroups.com/locations/niagara-falls//" title="" class="menu__link menu__link">Groups &amp; Events</a></li>
        </ul>
        </div>
        <div class="block block-gw-custom odd">
        
                <h2 class="block__title block-title">Explore Activities</h2>
            
          <ul class="menu" fxLayout="column" fxLayoutAlign="space-around start"><li class="menu__item is-leaf concordMain-water menu__item is-leaf first leaf">
            <a href="/niagara/waterpark-attractions" title="" class="menu__link menu__link">Water Park &amp; Attractions</a></li>
        <li><a href="/niagara/dining-shopping" class="menu__link menu__link">Dining &amp; Shopping</a></li>
        <li><a href="/niagara/suites" class="menu__link menu__link">Suites</a></li>
        <li><a href="/niagara/deals" title="" class="menu__link menu__link">Special Offers</a></li>
        <li><a href="/niagara/plan" class="menu__link menu__link">Plan Your Stay</a></li>
        </ul>
        </div>
        
          
          </div>















    <div class="boxes-box" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
      <div class="boxes-box-content" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <p><img alt="Great Wolf Lodge" src="assets/images/logo.png"></p>
<h3>Go for the Moment</h3>
  <div class="socialIcons" fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="1%" >
   <a target="_blank" href="https://facebook.ca/"><i class="fab fa-facebook-square fa-2x" ></i></a><!--i class=是font Awesome -->
  <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter-square fa-2x"></i></a>
  <a target="_blank" href="https://www.pinterest.com/"><i class="fab fa-pinterest-square fa-2x"></i></a>
  <a target="_blank" href="http://instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
  <a target="_blank" href="https://plus.google.com/"><i class="fab fa-google-plus-square fa-2x"></i></a>
  <a target="_blank" href="https://www.youtube.com/"><i class="fab fa-youtube-square fa-2x"></i></a>
  </div>
</div></div>
  </div>

</div>
</section>