<!--<div class="image04">
    <img src="assets/images/food2.png" alt="">
    <div class="ovrly"></div>
    <div class="buttons">
        <a href="#" class="fa fa-link"></a>
        <a href="#" class="fa fa-search"></a>
    </div>
</div>
<div class="image05">
    <img src="assets/images/5.jpg" alt="" class="imgB">
    <img src="assets/images/5.jpg" alt="" class="imgT">
    <div class="ovrly"></div>
    <div class="buttons">
        <a href="#" class="fa fa-link"></a>
        <a href="#" class="fa fa-search"></a>
    </div>
</div>-->


<div class="calloutcard" fxlayout.lt-md="column" fxLayoutGap="1%" fxLayoutAlign="center center">
    <mat-card class="image04" fxFlex="40" fxFlex.sm="120">

        <img mat-card-image src="assets/images/food2.png" alt="">

        <div class="ovrly"></div>
        <mat-card-content class="buttons">
            <a href="#" class="fa fa-link"></a>
            <a href="#" class="fa fa-search"></a>
        </mat-card-content>
    </mat-card>

    <mat-card class="image04" fxFlex="40" fxFlex.sm="120">

        <img mat-card-image src="assets/images/food2.png" alt="">

        <div class="ovrly"></div>
        <mat-card-content class="buttons">
            <a href="#" class="fa fa-link"></a>
            <a href="#" class="fa fa-search"></a>
        </mat-card-content>
    </mat-card>

    <mat-card class="image04" fxFlex="20" fxFlex.sm="120">

        <img mat-card-image src="assets/images/food2.png" alt="">

        <div class="ovrly"></div>
        <mat-card-content class="buttons">
            <a href="#" class="fa fa-link"></a>
            <a href="#" class="fa fa-search"></a>
        </mat-card-content>
    </mat-card>

    <mat-card class="image05" fxFlex="20" fxFlex.sm="120">

        <img mat-card-image src="assets/images/5.jpg" alt="" class="imgB">
        <img mat-card-image src="assets/images/5.jpg" alt="" class="imgT">

        <div class="ovrly"></div>
        <mat-card-content class="buttons">
            <a href="#" class="fa fa-link"></a>
            <a href="#" class="fa fa-search"></a>
        </mat-card-content>


    </mat-card>




</div>