@import '~@angular/material/theming';
@include mat-core();
$gao-primary: ( 50: #f6fbfb, 100: #e8f5f4, 200: #d9efed, 300: #c9e9e6, 400: #bee4e0, 500: #b2dfdb, 600: #abdbd7, 700: #a2d7d2, 800: #99d2cd, 900: #8acac4, A100: #ffffff, A200: #ffffff, A400: #f6fffe, A700: #dcfffc, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$gao-accent: ( 50: #fffefb, 100: #fffdf6, 200: #fffcf0, 300: #fffaea, 400: #fff9e6, 500: #fff8e1, 600: #fff7dd, 700: #fff6d9, 800: #fff5d5, 900: #fff3cd, A100: #ffffff, A200: #ffffff, A400: #ffffff, A700: #ffffff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$wei-primary: mat-palette($gao-primary, 700, 300, 900);
$wei-accent: mat-palette($gao-accent, 500, 400, 700);
$wei-warn: mat-palette($mat-red);
$wei: mat-light-theme($wei-primary, $wei-accent, $wei-warn);
@import './app/navigation/navtabs/navtabs.component.scss';
@include angular-material-theme($wei);
// Navtabs component scss file
@include navtabs-component($wei);
//all our styles will go here
//下面移到navtbas.wei.scss中

/*.navtabs-container{
    background-color: mat-color($wei-primary,lighter)//如果mat-color($wei-primary)所有的颜色就都改了
}*/

//想更改点击singup的颜色，先到页面中找到他的那一项鼠标右键，看到force state.点击hover
//看到background后复制 标签
.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
    background-color: mat-color($wei-primary, 300);
    color: mat-color($wei-primary, 900)
}